<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %> <%messages.forEach((message)=>{%></h1>
    <div class="message">
      <h1><%= message.text %></h1>
      <p><%= message.user %></p>
      <p><%= message.added %></p>
      <% }) %>
    </div>
    <a href="/new">
      <h2>Go to new</h2>
    </a>
  </body>
</html>
